n8n/workflows.json
{
  "name": "Ordem de Servico Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordem-criada",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Ordem Criada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordem-atribuida",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Ordem Atribuida",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "push-test",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Push Test",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        -100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"technicianFcmToken\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "If Technician Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"creatorFcmToken\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "If Creator Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"body\"][\"fcmToken\"]}}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "name": "If Test Token",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        240,
        -100
      ]
    },
    {
      "parameters": {
        "url": "https://fcm.googleapis.com/fcm/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "={{'key=' + $env.FCM_SERVER_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParametersJson": "{\"to\":\"={{$json[\\\"body\\\"][\\\"creatorFcmToken\\\"]}}\",\"notification\":{\"title\":\"Ordem finalizada\",\"body\":\"Ordem #{{$json[\\\"body\\\"][\\\"orderId\\\"]}} foi finalizada\"},\"data\":{\"orderId\":\"={{$json[\\\"body\\\"][\\\"orderId\\\"]}}\",\"status\":\"={{$json[\\\"body\\\"][\\\"status\\\"]}}\",\"executionId\":\"={{$json[\\\"body\\\"][\\\"executionId\\\"]}}\",\"reportUrl\":\"={{$json[\\\"body\\\"][\\\"reportUrl\\\"]}}\"}}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Send Push Notification (FCM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fcm.googleapis.com/fcm/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "={{'key=' + $env.FCM_SERVER_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParametersJson": "{\n  \"to\": \"={{$json[\\\"body\\\"][\\\"fcmToken\\\"]}}\",\n  \"priority\": \"high\",\n  \"content_available\": true,\n  \"notification\": {\n    \"title\": \"={{$json[\\\"body\\\"][\\\"title\\\"] || 'Teste de notificacao'}}\",\n    \"body\": \"={{$json[\\\"body\\\"][\\\"message\\\"] || 'Push de teste'}}\",\n    \"sound\": \"default\"\n  },\n  \"data\": {\n    \"test\": \"true\",\n    \"userId\": \"={{$json[\\\"body\\\"][\\\"userId\\\"]}}\"\n  }\n}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Send Push Notification (Test)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        460,
        -100
      ]
    },
    {
      "parameters": {
        "url": "https://fcm.googleapis.com/fcm/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "={{'key=' + $env.FCM_SERVER_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParametersJson": "{\n  \"to\": \"={{$json[\\\"body\\\"][\\\"technicianFcmToken\\\"]}}\",\n  \"priority\": \"high\",\n  \"content_available\": true,\n  \"notification\": {\n    \"title\": \"Nova ordem atribuida\",\n    \"body\": \"Ordem #{{$json[\\\"body\\\"][\\\"orderId\\\"]}} atribuida por {{$json[\\\"body\\\"][\\\"creator\\\"] || 'um usuario'}}\",\n    \"sound\": \"default\"\n  },\n  \"data\": {\n    \"orderId\": \"={{$json[\\\"body\\\"][\\\"orderId\\\"]}}\",\n    \"status\": \"={{$json[\\\"body\\\"][\\\"status\\\"]}}\",\n    \"priority\": \"={{$json[\\\"body\\\"][\\\"priority\\\"]}}\",\n    \"orderType\": \"={{$json[\\\"body\\\"][\\\"orderType\\\"]}}\",\n    \"scheduledFor\": \"={{$json[\\\"body\\\"][\\\"scheduledFor\\\"]}}\",\n    \"equipment\": \"={{$json[\\\"body\\\"][\\\"equipment\\\"]}}\",\n    \"client\": \"={{$json[\\\"body\\\"][\\\"client\\\"]}}\"\n  }\n}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Send Push Notification (Assigned)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checklist-finalizado",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Checklist Finalizado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "content": "<h1>Relatorio de Manutencao</h1><p>Ordem: {{ $json[\"body\"][\"id\"] }}</p>",
        "options": {}
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.htmlToPdf",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Ordem Criada": {
      "main": [
        [
          {
            "node": "If Creator Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Push Test": {
      "main": [
        [
          {
            "node": "If Test Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Ordem Atribuida": {
      "main": [
        [
          {
            "node": "If Technician Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Test Token": {
      "main": [
        [
          {
            "node": "Send Push Notification (Test)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Technician Token": {
      "main": [
        [
          {
            "node": "Send Push Notification (Assigned)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If Creator Token": {
      "main": [
        [
          {
            "node": "Send Push Notification (FCM)",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Webhook Checklist Finalizado": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "If Creator Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
