n8n/workflows.json
{
  "name": "Ordem de Servico Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ordem-criada",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Ordem Criada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://fcm.googleapis.com/fcm/send",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": [
          {
            "name": "Authorization",
            "value": "={{'key=' + $env.FCM_SERVER_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ],
        "sendBody": true,
        "bodyParametersJson": "{\"to\":\"={{$json[\\\"body\\\"][\\\"creatorFcmToken\\\"]}}\",\"notification\":{\"title\":\"Ordem finalizada\",\"body\":\"Ordem #{{$json[\\\"body\\\"][\\\"orderId\\\"]}} foi finalizada\"},\"data\":{\"orderId\":\"={{$json[\\\"body\\\"][\\\"orderId\\\"]}}\",\"status\":\"={{$json[\\\"body\\\"][\\\"status\\\"]}}\",\"executionId\":\"={{$json[\\\"body\\\"][\\\"executionId\\\"]}}\",\"reportUrl\":\"={{$json[\\\"body\\\"][\\\"reportUrl\\\"]}}\"}}",
        "options": {
          "response": {
            "responseFormat": "json"
          }
        }
      },
      "name": "Send Push Notification (FCM)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checklist-finalizado",
        "responseMode": "lastNode",
        "options": {}
      },
      "name": "Webhook Checklist Finalizado",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        500
      ]
    },
    {
      "parameters": {
        "content": "<h1>Relatorio de Manutencao</h1><p>Ordem: {{ $json[\"body\"][\"id\"] }}</p>",
        "options": {}
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.htmlToPdf",
      "typeVersion": 1,
      "position": [
        300,
        500
      ]
    }
  ],
  "connections": {
    "Webhook Ordem Criada": {
      "main": [
        [
          {
            "node": "Send Push Notification (FCM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Checklist Finalizado": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Push Notification (FCM)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
